.jumbotron {
  padding-top: 6rem;
  background-color: #9b00c2;
}

#Projects {
  background-color: #9b00c2;
}

#footer {
  background-color: #3b0a52c2;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
